/* basic styling */

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family:'Times New Roman', Times, serif ;
  background: rgb(255, 255, 255);
}
.gap-1{
gap: 300px;
}
.gap-2{
  gap: 25px;
}
/* Header styling */
.navbar{
padding: 20px;
  background: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar ul{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.navbar ul a{
  text-decoration: none;
  color: rgb(127, 3, 3);
  font-size: 18px;
}
.logo{
  font-size: 28px;
  color: red;
}
.user-name{
  padding: 15px;
  color: rgb(255, 255, 254);
  font-size: 20px;
  background-color: rgba(255, 27, 6, 0.649);
  border-radius: 10px;
}
/* Section-styling */
.hero-section{
  background-color: rgb(255, 255, 255);
  color: black;
  height: 100vh;
  width: 100vw;
  padding:25vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.left h1{
  color: rgba(48, 9, 2, 0.949);
  font-size: 60px;
}
span{
  color: rgb(180, 6, 6);
}
.left p{
  color: rgb(99, 32, 3);
  font-size: 20px;
}
button{
  background-color: rgba(244, 5, 5, 0.768);
  border-radius: 20px;
  margin: 15px;
  padding: 15px;
  font-size: 18px;
  font-family: cursive;
  border: 1px solid rgb(255, 255, 255);
  color: rgb(62, 2, 2);
}

